body{
    font-family: serif;
    font: Georgia;
    text-align: center;
}
#title{
    font-size: 3rem;
    text-align: center;
}
#main{
    
}
#img-div {
    
}
#image {
    align-content: center;
    max-width: 100%;
    height: auto;
    display: block;
    margin-right: auto;
    margin-left: auto;
}
#img-caption {
    text-align: center;
}
h1 {
    font-size: 3.5rem;
    text-align: center;
}
ul{
    max-width: 500px;
    margin: 0 auto 50px auto;
    text-align: left;
    line-height: 1.6;
}
a {
    color: chocolate;
}
a:visited {
    color: brown;
}
a:hover {
    color: burlywood;
}
